body {
  background: url(clock.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        
}  


#q1{
visibility: hidden;
}

#q2{
visibility: hidden;
}

#aft{
	position: relative;
	top: 100px;
	left: -50%;
	width: 200%;
	height: 200px;
}
#jsalarmclock{
	position: absolute;
	top: 80px;
    left: 40%;
font-family: Tahoma;
font-weight: bold;
font-size: 10px;
}


#q1{
	position: absolute;
	top: 50%;
    left: 30%;
}

#q2{
	position: absolute;
	top: 50%;
    left: 30%;
}

#expression{
	  text-align: center;

	position: absolute;
	top: 20%;
    left: 0%;
    width:120%;
    font-size: 20px;
}

#result{
	position: absolute;
	top: 50%;
    left: 75%;
    font-size: 10px;
}


/*
#jsalarmclock{
	position: absolute;
	width: 400px;
    height: 200px;
font-family: Tahoma;
font-weight: bold;
font-size: 12px;
}

#jsalarmclock div{
margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn{
float: left;
width: 150px;
font-size: 13px;
background-color: lightyellow;
clear: left;
}

#jsalarmclock span{
margin-right: 5px;
}
*/
